:root {
    /* Colors */
    --base: #3b82f6;
    --base-light: #e0f2fe;
    --base-white: #fff;
    --base-text-color: #0369a1;    
    --base-black: #1f2937;
    --base-gray: #9ca3af;

    /* Border */
    --base-border: 1px solid #d1d5db;
    --base-radius: 14px;
    
    /* Text */
    --font-title: bold 24px 'Roboto', sans-serif; 
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.primary-button {
    background: var(--base);
    border: none;
    border-radius: var(--base-radius);
    color: var(--base-white);
    padding: 12px 20px;
    cursor: pointer;
}

.secondary-button {
    background: var(--base-light);
    border: none;
    border-radius: var(--base-radius);
    color: var(--base-text-color);
    padding: 12px 20px;
    cursor: pointer;
}